<!--
<p>
  test works!
</p>
<h2>Welcome {{User}}</h2>
<h2>{{User.length}}</h2> 

<button (click)="onClick($event)">Greet</button>
{{ greeting }}
<button (click)="greeting='Welcome To The Event'">Test</button>
<br>
<input #myInput type="text">
<button (click)="logTest(myInput.value)">Log</button>
 ngIf Directive 
<div *ngIf="display; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <h2>thenBlock</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>Hidden</h2>
</ng-template>

ngSwitch Directive
<div [ngSwitch]="color">
  <div *ngSwitchCase ="'red'" >You Choosed red</div>
  <div *ngSwitchCase ="'blue'" >You Choosed blue</div>
  <div *ngSwitchCase ="'green'" >You Choosed green</div>
  <div *ngSwitchDefault >Choose Again</div>
</div>
 ngFor Directive (index) 
<h2 style='color: red'>ngFor Directive (index)</h2>
<div *ngFor="let col of colors ; index as i">
  <h2>{{i}} {{col}}</h2>
</div>

 ngFor Directive (first = true) 
<h2 style='color: red'>ngFor Directive (first = true)</h2>
<div *ngFor="let col of colors ; first as f">
  <h2>{{f}} {{col}}</h2>
</div>
 ngFor Directive (first = true) 
<h2 style='color: red'>ngFor Directive (last = true)</h2>
<div *ngFor="let col of colors ; last as l">
  <h2>{{l}} {{col}}</h2>
</div>
 ngFor Directive (odd) 
<h2 style='color: red'>ngFor Directive (odd)</h2>
<div *ngFor="let col of colors ; odd as o">
  <h2>{{o}} {{col}}</h2>
</div>
 ngFor Directive (even) 
<h2 style='color: red'>ngFor Directive (even)</h2>
<div *ngFor="let col of colors ; even as e">
  <h2>{{e}} {{col}}</h2>
</div>
-->
<!-- Component Interaction 
<h2>{{"Hello " +parentData}}</h2>-->
<!-- with Alias 
<h2>{{"Hello " +parentData}}</h2>

<button (click)="showTiteEvent()">Show Title</button>
-->
<!--
 String Pipes 
<h2>{{User}}</h2>
<h2>{{User | lowercase}}</h2>
<h2>{{User | uppercase}}</h2>
<h2>{{message | titlecase}}</h2>
<h2>{{message | slice:4:7}}</h2>
number Pipes
<h2>{{7.2365 | number:'1.2-3'}}</h2>
<h2>{{7.2365 | number:'3.4-5'}}</h2>
<h2>{{7.2365 | number:'3.1-2'}}</h2>
<h2>{{0.5 | percent}}</h2>
<h2>{{25 | currency}}</h2>
<h2>{{25 | currency:'GBP'}}</h2>
<h2>{{25 | currency:'GBP':'code'}}</h2>
Date Pipes
<h2>{{date}}</h2>
<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>
-->

<!--Services-->























